@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap");

:root{
    --special-color:#ffccffcc;
    --main-color:#351235;
    --secondary-color:#4c1b4c;
    --tertiary-color:#000000;
    --additional-color: #ffffff;
}
*{ 
    box-sizing: border-box;
    font-family: "Poppons", sans-serif;
}
body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:url(floral\ image.webp)
}
.container{
    position: relative;
    height: 80vh;
    max-width: 23vw;
    border-radius: 12px;
    padding: 3%;
    background: var(--main-color);
    display: inline-grid;
}
.display{
    height: 12vh;
    width: 100%;
    text-align: right;
    margin: 0.5%;
    font-size: 2rem;
    color: var(--tertiary-color);;
    pointer-events: none;
}
.buttons{
    display: grid;
    grid-row-start:2%;
    grid-row-end:4%;
    grid-gap: 4%;
    grid-template-columns: repeat(4, 1fr);
}
.buttons button {
    padding:30%;
    border-radius: 5px;
    border:none;
    font-size: 0.9rem bold;
    font-style: oblique;
    font-variant-position: inherit;
    color: var(--additional-color);
    cursor: pointer;
    background-color: var(--secondary-color) ;
}
.buttons button:active{
    transform: scale(1.1);
}
.buttons .operator{
    color: var(--special-color);
}

